.naastElkaarContact {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
  }

  .eersteContact {
    width: 49%;
    float: left;
    padding-right: 5%;
    text-decoration: none;
    text-align: right;
  }
  
  .tweedeContact {
    width: 49%;
    padding-left: 7%;
  }
  
  .eersteContact ul li,
  .tweedeContact ul li {
    list-style-type: none;
  }

  .link {
    color: #30a1ec;
    text-decoration: none;


  }.topImg{
    width: 100%;
  }

  .deel1,
  .deel2,
  .deel3 {
    width: 33%;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  .delen {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
  }