.naastElkaarInfo4Icon{
    display: flex;
  }
  
  .naastElkaarInfo2Icon{
    display: flex;
    width: 50%;
  }

  .info {
    margin-left: 10%;
  }

  .infoDeel1,
.infoDeel2,
.infoDeel3 {
  width: 33%;
  margin-bottom: 50px;
}

.infoDelen {
  display: flex;
}

.opsommingTitel {
  list-style-type: none;
  padding-bottom: 10px;
}

.iconInfo{
    width: 50%;
  }